<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=2 minimum-scale=1">
    <link rel="stylesheet" href="assests/style.css">
</head>
<body>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <section>
        <nav>
            <div>
                <nav></nav>
            </div>
        </nav>
    </section>
    <aside></aside>
    <aside></aside>
    <aside></aside>
    <aside></aside>
    <div></div>
    <nav></nav>
    <nav></nav>
    <main></main>
</body>
</html>